.DS_Store
.idea
*.log
tmp/
*.zip
*.tar.gz
infrastructure.json
front-desk/lambda
front-desk/dist
*.pem
enclave/temp
archivist/archivist
enclave/cache/
front-desk/*.txt
*dist*
*node_modules*
enclave/source/
